<html>
    <body>
        <a href="/">Home</a>
        {{#if result}}
            <h2>{{name}} details: </h2>
            <li>Console: {{result.console}}</li>
            <li>Genre: {{result.genre}}</li>
            <li>Hours: {{result.hours}}</li>
            <p>
                <a href="delete?name={{result.name}}">Delete</a>
            </p>
        {{else}}
            <h2>{{name}} not found.</h2>
        {{/if}}
    </body>
</html>